html,
body {
  width: 100%;
  height: 100%;
  background: url(../img/img6.jpg) center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

#content_main {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

#content_container {
  width: 35%;
  height: 60%;

  align-self: center;
}

#form_container {
  width: 100%;
  height: 100%;

  background-color: #414b4c;
  box-shadow: 0 0 50px -20px #000;
  border-radius: 2%;

  overflow: hidden;
}

#form_header_container {
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  float: left;

  padding: 60px;
  padding-bottom: 30px;
  padding-top: 60px;

  border-bottom: 1px solid transparent;

  background: #048100;
}

#form_header {
  display: inline-block;
  font-size: 17px;
  font-family: Bowlby One SC;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#form_content_container {
  width: 100%;
  height: 90%;

  float: left;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
}

#form_content_inner_container {
  width: 75%;
  height: 100%;

  float: left;
}

input {
  width: 100%;
  height: 40px;

  padding-left: 10px;
  margin-bottom: 20px;

  background: rgb(255, 255, 255);
  font-family: Montserrat;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 12px;

  border-bottom: 2px solid transparent;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

#button_container {
  width: 100%;
  height: 10%;

  background-image: linear-gradient(
    80deg,
    #048100,
    #048100 50%,
    #3757a7 50%,
    #3757a7
  );
  color: #fff;

  float: left;

  margin-top: 5px;
}

#button_container button {
  width: 50%;
  height: 100%;
  float: left;

  background: transparent;
  color: inherit;

  font-family: Montserrat;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 12px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
